<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logoNew1.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Train Schedule Platform developed by FSOCIETY 2.0
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://eservices.railway.gov.lk/" target="_blank">Sri Lanka Railway Service</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! You've reached the Premium Train Schedule Platform created for Sri Lanka</h2>
    <p>You can search trains and view train schedules throughout Sri Lanka via our service :-)</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        View travel times in Sri Lanka.
      </li>
      <li>
        Search train schedule.
      </li>
      <li>
        Book ticket.
      </li>
      <li>
        Find your hotel while you are in Sri Lanka.
      </li>
      <li>
        Chat with fellow users.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>S</strong>earch</h2>
      <p><a target="_blank" href="/trains">Search Train</a> to view details about trains in Sri Lanka.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>V</strong>iew</h2>
      <p><a target="_blank" href="/schedule"> View Train Schedule</a> to see which train is leaving which station and when it will arrive on it's destination.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>B</strong>ook</h2>
      <p><a target="_blank" href="/tickets">Book Ticket</a> with our service to your comfort.Now you don't need to go to the station and wait in the line.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>F</strong>ind</h2>
      <p><a target="_blank" href="/hotels">Find your Hotel</a> to see the available hotels at your destination.</p>
    </div>
  </div>
  <div class="well">
    <h2>About Us</h2>
    <p>
      This is a system created by S.L.I.I.T students as a 3rd Year 2nd semester User Experience Engineering Project. MeanJS framework was used to create the platform.
      <ul>
        <li><a target="_blank" href="https://github.com/CrowleyRajapakse/RailwaySchedulePlatform">GitHub Repo with Documentation</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="https://sampathrajapakse.blogspot.com/">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The SriRail Team,
  <ul>
    <li>S.R Rajapakse</li>
    <li>Dasuni Anupama</li>
  </ul>
</section>
